@charset "UTF-8";

/*Formatação do Menu*/
nav#menu ul{
    list-style-type: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 200px;
}
nav#menu li{
    display: inline-block;
    background-color: rgb(143, 143, 143);
    padding: 7px;
    margin: 2px;
    transition: 500ms;
}
nav#menu li:hover{
    background-color: rgb(100, 100, 100);
    box-shadow: 2px 3px 3px black;
}
nav#menu h1{
    display: none;
}
nav#menu a{
    color: black;
    text-decoration: none;
   }
nav#menu a:hover{
    color: white;
    text-decoration: none;
}


p{
    text-align: justify;
    text-indent: 50px;
}

body{
    background-color: rgb(159, 187, 204)
}

div{
    background-color: rgb(255, 255, 255);
    width: 650px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.596)
}


/*Formatação de fotos com legenda*/
figure.foto-legenda{
    position: relative;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}

