@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family = Titillium + Web: wght @ 200 & display = swap'); /*importar fontes diretamente do google*/
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
@font-face {
    font-family: 'Fontesubtitulo';
    src: url('../_fonts/TitilliumWeb-ExtraLight.ttf');
}

/*Formatação do Menu*/
nav#menu ul{
    list-style-type: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}
nav#menu li{
    display: inline-block;
    background-color: rgb(190, 190, 190);
    padding: 7px;
    margin: 2px;
    transition: 500ms;
}
nav#menu li:hover{
    background-color: rgb(114, 114, 114);
    box-shadow: 2px 3px 3px black;
}
nav#menu h1{
    display: none;
}
nav#menu a{
    color: black;
    text-decoration: none;
}
nav#menu a:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
}


header#cabecalho img#icone{
    position: absolute;
    top: 85px;
    left: 965px;
}
header#cabecalho{
    border-bottom: 1px rgb(118, 118, 118) solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px; /*".." retorna a pasta principal, pois o arquivo estilo.css está dentro da pasta secundária _css, logo é necessário voltar a pasta principal antes de acessar _imagems*/
}
header#cabecalho h1{
    color: rgb(118, 118, 118);
    font-size: 30pt;
    font-family: 'FonteLogo', sans-serif;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin-bottom: 0px;
}
header#cabecalho h2{
    color: rgb(190, 190, 190);
    font-size: 20pt;
    font-family: 'Fontesubtitulo', sans-serif;
    padding: 0px;
    margin-top: 0px;
}


body{
    background-color: rgb(190, 190, 190);
}

p{
    text-align: justify;
    text-indent: 50px;
}

div#interface{
    background-color: rgb(255, 255, 255);
    width: 900px;
    margin: -20px auto 0px auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596)
}

section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px rgb(118, 118, 118) solid;
    padding-right: 20px;
}

/*Formatação da tabela de Especificações*/
table#tabelaspec{
    border: 1px rgb(118, 118, 118) solid;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td{
    border: 1px rgb(118, 118, 118) solid;
    padding: 10px;
    vertical-align: top;
    text-align: center;
}
table#tabelaspec td.ce{
    text-align: right;
    font-weight: bold;
    color: white;
    background-color: rgb(118, 118, 118);
}
table#tabelaspec td.cd{
    text-align: left;
    background-color: rgb(190, 190, 190);
}
table#tabelaspec caption{
    color: rgb(114, 114, 114);
    font-weight: bold;
    font-size: 15pt;
}
table#tabelaspec span{
    display: block;
    float: right;
    margin-top: 10px;
    color: rgb(114, 114, 114);
    font-weight: bold;
    font-size: 8pt;
    
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
}

footer#rodape{
    clear: both;
    border-top: 1px rgb(118, 118, 118) solid;
}
footer#rodape p{
    text-align: center;
    text-decoration: none;
}


/*Formatação de fotos com legenda*/
figure.foto-legenda{
    position: relative;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}
figure.foto-legenda img{
    width: 100%;
    height: 100%;
}
figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}

