@charset "UTF-8";

form{
    width: 500px;
    margin: auto;
}

input, textarea{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.7);
}
input:hover, textarea:hover{
    background-color: rgba(200,200,200,0.7);
}

legend{
    color: rgb(118,118,118);
    font-weight: bold;
    font-size: 15pt;
}

fieldset{
    border-color: rgb(200,200,200);
    margin: 20px;
}

fieldset#sexo{
    width: 150px;
}

fieldset#usuario{
    background: url('../_imagens/icone-contato.png') no-repeat 95% 95%;
}

fieldset#endereco{
    background: url('../_imagens/icone-endereco.png') no-repeat;
    background-position: 95% 95%; /*equivalente ao metodo usado em #usuario*/
}

fieldset#mensagem{
    background: url('../_imagens/icone-mensagem.png') no-repeat 95% 95%;
}

fieldset#pedido{
    background: url('../_imagens/icone-pagamento.png') no-repeat 95% 95%;
}

textarea#cmsg{
    padding: 5px;
    margin: 10px auto;
}